@import url('https:fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');


/* landing page css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #71b7e6, #71b7e6);

}


section {
    max-width: 1200px;
    max-height: 900px;
    width: 100%;
    height: 90%;
    background: #fff;
    padding: 60px 150px;
    border-radius: 5px;
    position: absolute;

}



header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 60px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header .subdiv1 {
    position: absolute;
    /* max-width: 80px;
    padding-left: 200px;
    padding-top: 20px; */
}

header .subdiv2 {
    color: #333;
    font-size: 2em;
    font-weight: 300;
    position: absolute;
    right: 75%;
}

header .header_login_button {
    display: inline-block;
    padding: 8px 20px;
    background: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    position: absolute;
    left: 90%;
}
.header_login_button:hover {
    background-color: #009578;
    color: white;
    transition: .5s;
    cursor: pointer;
}



.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox {
    position: relative;
    max-width: 600px;
    margin-right: 50px;
}

.content .textBox h2 {
    color: #333;
    font-size: 3.1em;
    line-height: 1.4em;
    font-weight: 500;
}

.content .textBox h2 span {
    color: #017143;
    font-size: 1.2em;
    font-weight: 700;
}

.content .textBox h4 {
    color: #333;
    font-size: 1.6em;
}

.content .textBox a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

.content .imgBox {
    width: 500px;
    display: flex;
    justify-content: flex-end;
    /* padding-right: -10px; */
    margin-top: 50px;
}

.content .imgBox landing_page_image {
    max-width: 300px;
}











/* for homepage */

.content .homepagetextBox {
    max-width: 600px;
    margin-right: 50px;
}


.content .homepagetextBox h2 {
    color: #333;
    font-size: 3.5em;
    line-height: 1.2em;
    font-weight: 500;
}

.content .homepagetextBox h2 span {
    color: #017143;
    font-size: 1.1em;
    font-weight: 900;
}

.content .homepagetextBox h3 {
    color: #333;
    font-size: 2em;
    line-height: 1.4em;
    font-weight: 500;
}


.content .homepagetextBox a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}







/* for symtom select page */

.content .txtBox {
    position: absolute;
    max-width: 600px;
    margin-right: 50px;
}

.content .txtBox p {
    color: #333;
    font-size: 1.4em;
    line-height: 1.4em;
    font-weight: 500;
}


.select {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 700px;
    max-height: 600px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    gap: 10px;
}

.select__item {
    padding: 10px;
    cursor: pointer;
    font-family: "Heebo", sans-serif;
    text-align: center;
    border-radius: 50px;
    background: #eeeeee;
    transition: background 0.1s;
}

.select__item--selected {
    background: #009578;
    color: #ffffff;
}




.content .selected_items {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}



.container {

    position: relative;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
    /* margin-top: 8%; */
    left: 80%;
}

.container .card {
    width: 400px;
    position: relative;
    height: 470px;
    background: #f0f0f0;
    margin: -40px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0.5px 10px #e6e6e6;
    transition: 0.3s ease-in-out;
    margin-top: 5%;
    border-radius: 50px;
    align-items: center;
}

.container .card h2 {
    color: #333;
    font-size: 2em;
    line-height: 1.4em;
    font-weight: 500;
}


.container .items {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #009578;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    position: relative;
}

.container .predict_button {
    display: inline-block;
    margin-top: 25px;
    padding: 8px 70px;
    background: rgb(238, 145, 145);
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    position: relative;
}

.predict_button:hover {
    background-color: #009578;
    color: white;
    transition: .5s;
    cursor: pointer;
}








/* result page */



.container2 {

    position: absolute;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
    right: 30%;
    top: 100%;
}

.container2 .card2 {
    width: 400px;
    position: relative;
    height: 470px;
    background: #f0f0f0;
    margin: -40px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0.5px 10px #e6e6e6;
    transition: 0.3s ease-in-out;
    margin-top: 5%;
    border-radius: 50px;
    align-items: center;
}

.container2 .card2 h2 {
    color: #333;
    font-size: 2em;
    line-height: 1.4em;
    font-weight: 500;
}

.container2 .card2 h3 {
    color: rgb(51, 51, 51);
    font-size: 1.4em;
    line-height: 1.4em;
    font-weight: 500;
}

.container2 .card2 .a_class {
    color: #009578;
    font-size: 1.3em;
    line-height: 1.4em;
    font-weight: 500;
}



.container2 .consult_doctor {
    display: inline-block;
    margin-top: 25px;
    padding: 8px 70px;
    background: rgb(238, 145, 145);
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    position: relative;
}

.consult_doctor:hover {
    background-color: #009578;
    color: white;
    transition: .5s;
    cursor: pointer;
}










/* doctor list  */

.container3 {

    position: absolute;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    right: 15%;
    top: 150%;
    border: #009578;
    border-radius: 5px;
}


.container3 .card_list {
    width: 70%;
    display: inline-block;
    box-shadow: 1px 1px 3px;
    border-radius: 15px;
    margin: 4%;
}
.container3 .card3 {
    width: 650px;
    position: relative;
    height: 520px;
    background: #f0f0f0;
    margin: -40px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0.5px 10px #e6e6e6;
    transition: 0.3s ease-in-out;
    margin-top: 5%;
    border-radius: 50px;
    align-items: center;
}

.container3 .card3 h2 {
    color: #333;
    font-size: 2em;
    line-height: 1.4em;
    font-weight: 500;
    text-align: center;
}



.container3 .card3 .doctor_details_a_class {
    color: #1a63eb;
    font-size: 1.3em;
    line-height: 1.4em;
    font-weight: 500;
}

.container3 .des {
    padding: 3px;
    text-align: center;
    padding-top: 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.container3 a {
    display: inline-block;
    margin-top: 5px;
    padding: 8px 70px;
    /* background: rgb(238, 145, 145); */
    background: #009578;
    color: #fff;
    border-radius: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    position: relative;
}

a:hover {
    background-color: #009578;
    color: white;
    transition: .5s;
    cursor: pointer;
}






/* doctor details page */



.container4 {

    position: absolute;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    right: 23%;
    top: 150%;
    border: #009578;
    border-radius: 5px;
}

.container4 .card4 {
    width: 500px;
    position: relative;
    height: 470px;
    background: #f0f0f0;
    margin: -40px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0.5px 10px #e6e6e6;
    transition: 0.3s ease-in-out;
    margin-top: 5%;
    border-radius: 50px;
    align-items: center;
}

.container4 .card4 h2 {
    color: #333;
    font-size: 2em;
    line-height: 1.4em;
    font-weight: 500;
}

.container4 .card4 h3 {
    color: rgb(51, 51, 51);
    font-size: 1.4em;
    line-height: 1.4em;
    font-weight: 500;
}

.container4 .card4 .doctor_details_a_class {
    color: #1a63eb;
    font-size: 1.3em;
    line-height: 1.4em;
    font-weight: 500;
}

.checked {
    color: #009578;
  }





