@{
    Layout = "~/Views/Shared/_Layout_3.cshtml";
}



<div class="doctor_details_page">
    <div class="container4">
        <div class="card4">
            <h2>Doctor Profile</h2>
            <br><br><br>
            <h3>Name</h3>
            @{
                <a class="doctor_details_a_class">@Model.name</a>
            }
            <br>
            <h3>Institute</h3>
            @{
                <a class="doctor_details_a_class">@Model.institute</a>
            }
            <br>
            <h3>Address</h3>
            @{
                <a class="doctor_details_a_class">@Model.address</a>
            }
            <br>
            <div>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            </div>
        </div>

    </div>





<script>

    @* DoctorDetails(); *@
    function DoctorDetails(){

    $.ajax({
            type : "GET",
            url : "/DoctorDetails/Ddetails",
            success : function(response){
                
                console.log(response['name'])
                document.getElementById('name').innerHTML = response['name'].text;
                document.getElementById('institute').innerHTML = response['institute'];
                document.getElementById('address').innerHTML = "dhaka";
            },
            failure : function(response){
                alert(response);
            }
        });
}
</script>
