@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="doctorlist">
    <div class="container3">
    <div class="card3">
        <div class="doctorlisttitle">
            <h1>
                Dr Janangir Kabir</h1>
        </div>
        <div class="des">
            <p>Dhaka Medical College Hospital</p>
            <a href="#">show Details</a>
        </div>
    </div>
    <div class="card3">
        <div class="doctorlisttitle">
            <h1>
                Dr Salim Mollah</h1>
        </div>
        <div class="des">
            <p>CMH Hospital</p>
            <a href="#">Show Details</a>
        </div>
    </div>
    <div class="card3">
        <div class="doctorlisttitle">
            <h1>
                Dr Selina Begum</h1>
        </div>
        <div class="des">
            <p>Square Hospital</p>
            <a href="#">Show Details</a>
        </div>
    </div>
    </div>
</div>