@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="doctor_details_page">
    <div class="container4">
        <div class="card4">
            <h2>Doctor Profile</h2>
            <br><br><br>
            <h3>Name</h3>
            <a class="doctor_details_a_class">Dr Selina Begun</a>
            <br>
            <h3>Institute</h3>
            <a class="doctor_details_a_class">CMH Hospital</a>
            <br>
            <h3>Address</h3>
            <a class="doctor_details_a_class">Cantonment, Kurmitola</a>
            <br>
            <div>
                <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            </div>
        </div>

    </div>
