@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="homepagetextBox">
    <br><br><br><br><br><br><br>
    <h2>WELCOME TO  <br><span>MEDICO</span></h2><br><br>
    <h3>How are you feeling today?<br></h3><br>
    <a href="/SymtomSelect">Check Health</a>
</div>