@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="textBox">
    <h2>Quality Care <br><span>Medico</span></h2><br>
    <h4>Your One Click Doctor!</h4><br>
    <p>This is an Online platform for all your medical issues. Check your health,
        find disease and get specialized doctor suggested. Create your profile,
        enter your symtoms an find doctors as per your problem.
        </p>
    <br><br>
    <a href="/Register">Register</a>
</div>
<div class="imgBox">
    <img src="websiteimages/landing_page_image.png" alt="landing_page_image">
</div>