@{
Layout = "~/Views/Shared/_Layout.cshtml";
}
@model mainServer.Controllers.Result_Model


<div class="result">
    <div class="container2">
        <div class="card2">
            <h2>Result</h2>
            <br><br><br>
            <h3>Predicted Disease:</h3>
            <a id="disease_name" class="a_class">@Model.disease</a>
            <br>
            <h3>Accuracy:</h3>
            <a class="a_class">@Model.accuracy</a>
            <br>
            <a href="/DoctorList" class="consult_doctor">Consult Doctor</a>
        </div>
    </div>

</div>