<html>

<head>
<style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>
</head>

<body>
    <div class="ui-bg-overlay-container" id="header">
        <div class="ui-bg-overlay bg-dark opacity-25">
            <p>Registration Successful!Please verify your email to use our services.</p>
        </div>
        
        <div>

        </div>
    </div>
</body>

</html>




<script>
    window.setTimeout(function(){

        // Move to a new location or you can do something else
        window.location.href = "https://localhost:5001/";

    }, 5000);
</script>