@model MediShare.Controllers.SessionCheckerModel



@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    @* <meta charset="UTF-8"> *@
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Medico Landing Page</title>
    <link rel="stylesheet" href="css/style1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


</head>

</html>

<body>
    <section>
        <header>
            <div class="subdiv1">
                <a href="/HomePage" class="logo"><img src="websiteimages/logo.png" alt="logo.png" height="100"
                        width="100"></a>
            </div>
            <div class="subdiv2">
                <p>Medico</p>
            </div>

            @{
                if (!string.IsNullOrEmpty(@Model.email))
                {
                    <a href="/Logout" class="header_login_button">@Model.email</a>
                    @* <a href="/Logout" class="header_login_button">Log out</a> *@
                    @* <div class="dropdown">
                        <button class="dropbtn">@Model.email</button>
                        <div class="dropdown-content">
                            <a href="/Logout">Log out</a>
                        </div>
                    </div> *@

                }
                else
                {
                    <a href="/Login" class="header_login_button">Log in</a>
                }
            }
        </header>

        <div class="content">
            @RenderBody();
        </div>

    </section>
</body>