@{
    Layout = "~/Views/Shared/LoginRegisterLayout.cshtml";
}






<body class="hold-transition register-page">
  <div class="register-box">


    <div class="register-box-body">
      <div class="register-logo">
        <a href="/"><b>Medico</b></a>
      </div>
      
      <p class="login-box-msg">Register a new membership</p>

        <div class="form-group has-feedback">
          <input type="text" class="form-control" id="first_name"  name="first_name" placeholder="First name">
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input type="text" class="form-control" id="last_name"  name="last_name" placeholder="Last name">
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input type="email" class="form-control" id="email" name="email" placeholder="Email">
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input type="password" class="form-control" id="password" name="password" placeholder="Password">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input type="password" class="form-control" placeholder="Retype password">
          <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
        </div>
        <div class="row">
          <div class="col-xs-8">
            <div class="checkbox icheck">
              <label>
                @* <input type="checkbox"> I agree to the <a href="#">terms</a> *@
              </label>
            </div>
            
          </div>
          <!-- /.col -->
          <div class="col-xs-4">
            <button onclick="RegistrationData()" class="btn btn-primary btn-block btn-flat">Register</button>
          </div>
          <!-- /.col -->
        </div>
        
       
      <a href="/Login" class="text-center">I already have a membership</a>
      <br>
      <div>
          <p style="text-align: center; text-justify: inter-word; color:red;" id="pass_not_found"></p>
      </div>
      
    </div>
   
  


  </div>
  
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <!-- Bootstrap 3.3.7 -->
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- iCheck -->
  <script src="plugins/iCheck/icheck.min.js"></script>
  <script>
    $(function () {
      $('input').iCheck({
        checkboxClass: 'icheckbox_square-blue',
        radioClass: 'iradio_square-blue',
        increaseArea: '20%' /* optional */
      });
    });



    function RegistrationData(){
        var first_name  =document.getElementById("first_name").value;
        var last_name  =document.getElementById("last_name").value;
        var email  =document.getElementById("email").value;
        var password  =document.getElementById("password").value;
        
        $.ajax({
            url: "/Register/registration_data?first_name=" +first_name+"&last_name="+last_name+"&password="+password+"&email="+email,
            type: "Post",
            dataType: "Json",
            success: function(result) {
                if(result == 200){
                  Registration_fulfill();
                }
                else{
                  document.getElementById("pass_not_found").innerHTML = "email already exists";

                }
              
            },
            error: function() {
              @* alert("email already exists"); *@
                
                
            }
        });
    }

    function Registration_fulfill(){
      window.setTimeout(function(){

        
        window.location.href = "https://localhost:5001/Register/RegistrationSuccess";

        }, 500);

    }


  </script>
</body>